@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-dark: #1e272e;
    --bg-light-blue: #0fbcf9;
    --bg-white: #ffff;
    --border-radius: 15px;
}

.br-15{
    border-radius: var(--border-radius);
}
.bg-black{
    background: var(--bg-dark);
}
.txt-col-white{
    color: var(--bg-white);
}

/* Hover Effect for button */
.btn:hover{
    background: var(--bg-light-blue);
    color: var(--bg-white);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

